:root {
    //color scheme
    --lightLavender: #bebade;
    --lavender:  #8e87c5;
    --darkLavender: #5d53ac;
    --darkdarkLavender: hsl(247, 35%, 25%);
    --lightTeal: #b4e4e4;
    --teal: #7cd0d0;
    --darkTeal: #44bbbb;
    --darkdarkTeal: hsl(180, 47%, 40%);
    --lightTan: #eaccae;
    --tan: #dab072;
    --darkTan: #c98e36;
    --coffee: #3f2300;
}

* {
    margin: 0;
    box-sizing: border-box;
}
    
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(white 0%, var(--darkdarkTeal) 5%, white 100%);
}

/* header */

header, footer {
    width: 95%;
    min-height: 4rem;
    margin: 0 auto;
    border: 10px ridge var(--darkTan);
    border-radius: 10px;
    padding: 10px 30px;
    background: linear-gradient(var(--tan), var(--lightTan), var(--tan));
    text-align: center;
    box-shadow: 20px -2px 10px 0px #393939;;
}

header h1 {
    border-bottom: 5px dashed var(--coffee);
    text-shadow: 5px 2px var(--darkTan);
}
header h1,header h4 {
    margin: auto;
    color: var(--coffee);
}
header a {
    text-decoration: none;
}

/* navigation */
nav {
    position: fixed;
    z-index: 3;
    height: fit-content;
    border: 5px double var(--darkLavender);
    padding-top: 10px;
    padding-bottom: 20px;
    background: linear-gradient(var(--darkLavender), var(--lavender));
    box-shadow: 5px 5px #393939;   
}
nav a.mybutton {
    display: block;
    height: auto;    
    margin: 10px;
    border: 1px dotted #9AEDEA;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
nav a.mybutton:hover {
    background: #9AEDEA;
}

/* main content area */
main {
    z-index: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin: 0 auto;
    border-left: 10px double var(--darkLavender);    
    border-right: 10px double var(--darkLavender);
    padding: 10px;
    background-color: var(--lightLavender);    
    box-shadow: 15px 0px 10px #393939;
}
#page-title {  
    margin: 5px -40px;
    position: sticky;
    top: 10px;
    padding: 5px 30px;
    background-color: var(--teal);
    box-shadow: 15px 5px var(--darkLavender);        
}

li {
    margin: 2% auto;
}

/* images */
img {
    padding: 10px;
    margin: auto;
    height: 100px;
}

.gallery {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.gallery .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: var(--lavender);
    box-shadow: 5px 5px var(--darkdarkLavender);
    
}

.gallery .item:hover {
    box-shadow: none;
    margin: 10px 0 0 10px;
}

@media only screen and (max-width: 767px) { //Mobile-L
    /* Layout */
    .grid-container {
        display: block;
    }

    /* Navigation */
    .menuBtn {
        position: fixed;
        z-index: 3;
        display: block;
        margin: 10px 0;
        border: 5px double var(--darkTan);
        padding: 10px;
        color: var(--coffee);
        background-color: var(--lightTan);
    }
    menu {
        display: none;
    }
    nav {
        padding-top: 50px;
    }
    .closeBtn {
        color: #393939;
        position: absolute;
        font-size: 40px;
        right: 10px;
        top: 5px;
        text-decoration: none;
    }

    #page-title {
        width: 115%;
    }

    .gallery {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) { //Tablet to Laptop-S
        /* Layout */
    .grid-container {
        display: grid;
        grid-template-areas: 
            'icon header header header header'
            'menu main main main main'
            'linkedin footer footer footer footer';
            grid-auto-columns: 20%;
    }

    header {
        grid-area: header;
    }
    footer {
        grid-area: footer;
    }
    .menuBtn {
        display: none;
    }
    menu {
        grid-area: menu;
        padding: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    .closeBtn {
        display: none;
    }

    main {
        grid-area: main;
        min-height: 50rem;
    }
    #page-title {
        width: 80%;
    }
    #page-title::after {
        position: absolute;
        left: 100%;
        border: 1rem solid var(--darkTeal);
        border-right-color: transparent;
        content:"";   
    }

    .gallery {
        flex-direction: row;
    }

    .icon {
        grid-area: icon;
        background-image: url(https://raw.githubusercontent.com/ellezhu1/ellezhu1.github.io/refs/heads/publish/assets/images/Teacup.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
}

@media only screen and (min-width: 1440px) { //Desktop
    .grid-container {
        margin: 0 auto;
        width: 75%;
    }
}