<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="TeaTime!" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body class="grid-container">
    <a class="icon" href="{{ '/' | absolute_url }}"> </a>
    <header id="top">
      <a href="{{ '/' | absolute_url }}"><h1>{{ site.title }}</h1></a>
      <h4>{{ site.description }}</h4>
    </header>

    <main>
        <h2 id="page-title">{{ page.title }}</h2>
        <div id="myContent">{{ content }}</div>
    </main>

    <menu id="myMenu">
      {% include navigation.html %}
    </menu>

    <footer>
      <a href="#top">Return to top</a>
      <p>&copy; 2025 ellezhu1.</p>
      <p>Original photos & content protected.</p>
    </footer>
  </body>
</html>