<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>

  <body>
    <header class="inner">
      <a href="{{ '/' | absolute_url }}"><h1>{{ site.title }}</h1></a>
      <h3>{{ site.description }}</h3>
    </header>
  
    <div class="inner">
      <main>
        <h1 id="page-title">{{ page.title }}</h1>
        {{ content }}
      </main>

      <aside>
        <h3>For More</h3>
        {% include navigation.html %}
      </aside>
    </div>
  </body>
</html>
